
.question2 p{
	display:  inline-block;

}

.correct{
	background-color: orange;
}
.underline{
	border-bottom: solid 1px black;
	padding: 5px;
}

.underdashline{
	border-bottom: dashed 1px black;
	padding: 5px;
}